* {
    font-family: 'Poppins', sans-serif;
}



.hub {
    color: red;
}

/* Navigation Styling */

.btn-custom {
    background-color: rgb(238, 230, 230);
    margin-left: auto;
}

.btn-custom:hover {
    background-color: white;
    border: 3px solid rgb(243, 107, 107);
    font-weight: 600;
    color: rgb(243, 107, 107);
}

.navbar-collapse {
    justify-content: space-between;
}

/* .btn-custom {
    margin-left: auto;
} */



/* Footer Styling */

.footer-custom {
    background-color: #F8F9FA;
}

.footer-custom span {
    color: red;
}

.navbar span {
    color: red;
    font-weight: 600;
}

.navbar .active {
    font-weight: 600;
}

.footnoteTop {
    font-weight: 600;
}

.footnoteBottom {
    text-align: center;
}

.nav-link {
    color: red;
    font-size: small;
    font-weight: normal;
}

@media (min-width:770px) {
    .nav-link {
        width: 30%;
    }
}

.nav-link:hover {
    font-weight: bold;
    color: rgb(214, 11, 11);
}

/* Homepage main styling */

.prod-link {
    text-decoration: none; 
    color: red;
}

.prod-link:hover {
    font-weight: bold;
    color: rgb(214, 11, 11);
}

.homeImg {
    /* height: 20rem; */
    border-radius: 3%;
}

/* .slide {
    height: 25rem;
} */

.red-bg {
    background-color: red;
}

.white-txt {
    color: white;
}

.sections-txt {
    text-align: center;
    padding: 3rem 0;
    
}

/* Contacts page styling rgb(238, 230, 230) */

.btn-form-custom {
    background-color: red;
    color: white;

}

.btn-form-custom:hover {
    background-color: white;
    border: 3px solid rgb(243, 107, 107);
    font-weight: 600;
    color: rgb(243, 107, 107);
}

/* Products page styling */

.red-btn {
    background-color: rgb(214, 11, 11);
    border: none;
    color: white;
}


.red-btn:hover {
    background-color: white;
    border: 3px solid rgb(243, 107, 107);
    font-weight: 600;
    color: rgb(243, 107, 107);
}